{% extends "base.html" %}
{% block body %}
     <!-- Page Header Start -->
     <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Komandamız</h2>
                </div>
                <div class="col-12">
                    <a href="{% url 'pages:index' %}">Əsas</a>
                    <a href="">Komandamız</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    
    <!-- Team Start -->
    <div class="team">
        <div class="container">
            <div class="section-header text-center">
                <p>Komandamız ilə tanışlıq</p>
                <h2>Mühəndis və işçilərimiz</h2>
            </div>
            <div class="row">
                {% for team in teams  %}
                  
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{{team.image.url}}" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>{{team.name}}</h2>
                            <p>{{team.job}}</p>
                            <div class="team-social">
                                <a href="{{team.facebook}}"><i class="fab fa-twitter"></i></a>
                                <a href="{{team.instagram}}"><i class="fab fa-facebook-f"></i></a>
                                <a href="{team.twitter}}"><i class="fab fa-linkedin-in"></i></a>
                                <a href="{{team.linkedin}}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Team End -->
    
{% endblock body %}