{% load static %}
        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Bir toxunuşla əlaqə</h2>
                            <p><i class="fa fa-map-marker-alt"></i>{{settings.location}}</p>
                            <p><i class="fa fa-phone-alt"></i>{{settings.phone}}</p>
                            <p><i class="fa fa-envelope"></i>{{settings.email}}</p>
                            <div class="footer-social">
                                <a class="btn" href="{{settings.twitter}}"><i class="fab fa-twitter"></i></a>
                                <a class="btn" href="{{settings.facebook}}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn" href="{{settings.youtube}}"><i class="fab fa-youtube"></i></a>
                                <a class="btn" href="{{settings.instagram}}"><i class="fab fa-instagram"></i></a>
                                <a class="btn" href="{{settings.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Səhifələr</h2>
                            <a href="{% url 'pages:about' %}">Haqqımızda</a>
                            <a href="{% url 'pages:contact' %}">Bizimlə əlaqə</a>
                            <a href="{% url 'pages:services' %}">Bizim servies</a>
                            <a href="{% url 'pages:washingpoints'  %}">Ünvanlar</a>
                            <a href="{% url 'pages:price' %}">Qiymət və paketlər</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>İş vaxtımız</h2>
                            {{settings.open_hour}}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                       
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved. Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>