     <!-- Top Bar Start -->
     <div class="top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <a href="{% url 'pages:index' %}">
                            <h1>Avto<span>Yuma</span></h1>
                            <!-- <img src="img/logo.jpg" alt="Logo"> -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 d-none d-lg-block">
                    <div class="row">
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>İş vaxtımız</h3>
                                    <p>{{settings.open_hour}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="fa fa-phone-alt"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Bizə zəng et</h3>
                                    <p>{{settings.phone}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Elektron poçt</h3>
                                    <p>{{settings.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <!--Index -->

                        {% if 'index' in request.path or '/' == request.path %}
                        <a href="{% url 'pages:index' %}" class="nav-item nav-link active">Əsas Səhifə</a>

                        {% else %}
                        <a href="{% url 'pages:index' %}" class="nav-item nav-link">Əsas Səhifə</a>

                        {% endif %}
                        
                        <!--About -->
                        {% if "about" in request.path %}
                        <a href="{% url 'pages:about' %}" class="nav-item nav-link active">Haqqımızda</a>

                        {% else %}
                        <a href="{% url 'pages:about' %}" class="nav-item nav-link">Haqqımızda</a>

                        {% endif %}

                        <!--Service -->
                        {% if "service" in request.path %}
                        <a href="{% url 'pages:services' %}" class="nav-item nav-link active">Servis</a>

                        {% else %}
                        <a href="{% url 'pages:services' %}" class="nav-item nav-link">Servis</a>

                        {% endif %}

                        <!--Price -->
                        {% if "price" in request.path %}
                        <a href="{% url 'pages:price' %}" class="nav-item nav-link active">Qiymətlər</a>

                        {% else %}
                        <a href="{% url 'pages:price' %}" class="nav-item nav-link">Qiymətlər</a>

                        {% endif %}        

                        <!--Washin Points -->
                        {% if "washingpoints" in request.path %}
                        <a href="{% url 'pages:washingpoints' %}" class="nav-item nav-link active">Ünvanlarımız</a>

                        {% else %}
                        <a href="{% url 'pages:washingpoints' %}" class="nav-item nav-link">Ünvanlarımız</a>

                        {% endif %}       

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Başqa</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'blog:list' %}" class="dropdown-item">Bloq </a>
                                <a href="{% url 'pages:teammates' %}" class="dropdown-item">Komandamız</a>

                                <a href="{% url 'pages:washingpoints' %}" class="dropdown-item">Rezerv</a>
                            </div>
                        </div>
                        {% if 'contact' in request.path %}
                        <a href="{% url 'pages:contact' %}" class="nav-item nav-link active">Əlaqə</a>

                        {% else %}
                        <a href="{% url 'pages:contact' %}" class="nav-item nav-link">Əlaqə</a>

                        {% endif %}
                        
                    </div>
                    <div class="ml-auto">
                        <a class="btn btn-custom" href="{% url 'pages:washingpoints' %}">Elə indi rezerv et</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->