{% extends "base.html" %}
{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Bloq list</h2>
                </div>
                <div class="col-12">
                    <a href="{% url 'pages:index' %}">Əsas</a>
                    <a href="">Bloq</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    
    
    <!-- Blog Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Bizim bloq</p>
            </div>
            <div class="row">
            {% if blogs %}
                  
                  
                {% for blog in blogs  %}
                  
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{blog.image.url}}" alt="Image">
                            <div class="meta-date">
                                <span>{{blog.created_date}}</span>
             
                            </div>
                        </div>
                        <div class="blog-text">
                            <h3><a href="{% url 'blog:postdetail' blog.category.slug blog.slug %}">{{blog.title}}</a></h3>
                            <p>
                                {{blog.text|truncatewords:10}}
                            </p>
                        </div>
                        <div class="blog-meta">
                            <p><i class="fa fa-user"></i><a>Admin</a></p>
                            <p><i class="fa fa-folder"></i><a href="{% url 'blog:catposts' blog.category.slug %}">{{blog.category}}</a></p>
                            <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                    <div class="container">
                        <div class="section-header text-center">
                            <h5 class="alert alert-danger">Heç bir məlumat tapılmadı.</h5>
                        </div>
                    </div>
                
                </div>

            {% endif %}

            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Geri</a></li>

                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Geri</a></li>

                        {% endif %}

                        {% for i  in blogs.paginator.page_range  %}

                            {% if blogs.number == i %}

                            <li class="page-item"><a class="page-link disabled">{{i}}</a></li>
                            {% else%}

                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}

                        {% endfor %}
                             


                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Növbəti</a></li>

                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="">Növbəti</a></li>
                        
                        {% endif %}
                    </ul> 
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock body %}